In [ ]:
x=10

In [ ]:
print(x)

10

In [ ]:
x=[10,20,30]
print(x)

[10, 20, 30]

In [ ]:
x=[10,20,"India", 40]
print(x)

[10, 20, 'India', 40]

In [ ]:
x=[10,20,"India", 40]
print(x)
print(x[0])
print(x[3])
type(x[2])

[10, 20, 'India', 40]
10
40

str

In [ ]:
print(x[-1])

40

In [ ]:
x=["Apple","Mango","Coconut"]
x[1]

'Mango'

In [ ]:
x=["Adam","John",20,"Mumbai","BBA"]
print(x[0]+' '+x[1])

Adam John

In [ ]:
x=input("Enter your first name : ")
y=input("Enter your second name : ")
z=input("Enter your age : ")
A=["first","second","age"]
A[0]=x
A[1]=y
A[2]=z
print(A)

Enter your first name : Adam
Enter your second name : John
Enter your age : 20
['Adam', 'John', '20']

In [ ]:
x=[1,23,45,65,56]
print(x[1:4])

[23, 45, 65]

In [ ]:
x[1:3]

[23, 45]

In [ ]:
x[1:2]

[23]

In [ ]:
x[:4]

[1, 23, 45, 65]

In [ ]:
x[2:]

[45, 65, 56]

In [ ]:
x=[1,23,45,65,56]
print(x[2:len(x)])

[45, 65, 56]

In [ ]:
x=[1,43,56,54,85,31]
len(x)

6

In [ ]:
x[1]=[20]
print(x[1])

[20]

In [ ]:
x[1:3]=[3,45,5]
print(x[1:3])

[3, 45]

In [ ]:
print(x)

[1, 3, 45, 5, 54, 85, 31]

In [ ]:
x=["Adam","John","Albert"]
x.append("Mary")

In [ ]:
x

['Adam', 'John', 'Albert', 'Mary']

In [ ]:
#To add at the end of list
x.append("Abraham")

In [ ]:
x

['Adam', 'John', 'Albert', 'Mary', 'Abraham']

In [ ]:
#to insert in particular area
x.insert(1,"George")
x

['Adam', 'George', 'George', 'John', 'Albert', 'Mary', 'Abraham']

In [ ]:
#to join 2 list
x=["Adam","George"]
y=["John","Mary"]
x.extend(y)
x

['Adam', 'George', 'John', 'Mary']

In [ ]:
#to remove using name
x=['Adam', 'George', 'John', 'Albert', 'Mary', 'Abraham']
x.remove("George")
print(x)

['Adam', 'John', 'Albert', 'Mary', 'Abraham']

In [ ]:
#to remove using index value
x=['Adam', 'George', 'John', 'Albert', 'Mary', 'Abraham']
x.pop(3)
print(x)

['Adam', 'George', 'John', 'Mary', 'Abraham']

In [ ]:
#to delete using index value
x=['Adam', 'George', 'John', 'Albert', 'Mary', 'Abraham']
del(x[0])
print(x)

['George', 'John', 'Albert', 'Mary', 'Abraham']

In [ ]:
#to make it in order
x=['Adam', 'George', 'John', 'Albert', 'Mary', 'Abraham']
x.sort()
print(x)

['Abraham', 'Adam', 'Albert', 'George', 'John', 'Mary']

In [ ]:
x=['Adam', 'George', 'John', 'Albert', 'Mary', 'Abraham']
x.sort(reverse=True)
print(x)

['Mary', 'John', 'George', 'Albert', 'Adam', 'Abraham']

In [ ]:
#to make a copy of existing data
y=x.copy()
print(y)

['Mary', 'John', 'George', 'Albert', 'Adam', 'Abraham']

In [ ]:
#to find repetation of same value 
x=[4,5,2,7,2,7,3,7]
x.count(7)

3

In [ ]:
x=[4,7,9,2]
x[1]=8
print(x)

[4, 8, 9, 2]

In [ ]:
#curly barce will avoide dupli and sort automatically
x={4,5,2,7,2,7,3,7}
x

{2, 3, 4, 5, 7}

In [ ]:
x=0
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x=0
total_sum=0
while x <100:
  total_sum = total_sum +x
  x=x+1
  print(total_sum)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

In [ ]:
x=['john','adam','mary','george']
i=0
while i < len (x) :
  print(x[i])
  i=i+1

john
adam
mary
george

In [ ]:
x=['john','adam',29,340000]
i=0
while i < len(x):
  print(x[i])
  i=i+1

john
adam
29
340000