In [1]:
x=input("Enter first number : ")

Enter a number : 88

In [2]:
y=input("Enter second number : ")

Enter second number : 55

In [3]:
print(x+y)

8855

In [4]:
print(x,y)

88 55

In [5]:
int(x)+int(y)

143

In [6]:
int(x)-int(y)

33

In [7]:
int(x)*int(y)

4840

In [8]:
int(x)/int(y)

1.6

In [9]:
type(x)

str

In [12]:
x=int(input("Enter the first number : "))
y=int(input("Enter the second number : "))

Enter the first number : 77
Enter the second number : 22

In [1]:
p=int(input("Enter the principle amount : "))
t=int(input("Enter the interest : "))/100
y=int(input("Enter the year : "))
I=p*t*y
print(I)

Enter the principle amount : 100000
Enter the interest : 8
Enter the year : 5
40000.0

In [6]:
x=int(input("Enter the mark : "))
if x>50:
  print("Pass")
else:
  print("Fail")

Enter the mark : 85
Pass

In [7]:
n=input("Enter your name : ")
x=int(input("Enter your mark : "))
if x>50:
  print("Pass")
else:
  print("Fail")

Enter your name : ENITTA LISA SIBY
Enter your mark : 89
Pass

In [9]:
s1=int(input("Enter your Salary : "))
t=s1*10/100
if s1>250000:
  print("You are Taxable")
  print(t)
else:
  print("Not Taxable")

Enter your Salary : 300000
You are Taxable
30000.0

In [17]:
# salary>250000 ahnell tax to pay, amount to find
s1=int(input("Enter your Salary : "))
if s1>250000:
  print("You are Taxable")
  print((s1-250000)*10/100)
else:
  print("You are Not Taxable")

Enter your Salary : 300000
You are Taxable
5000.0

In [33]:
s1=int(input("Enter your Salary : "))
if 25000<s1<500000:
  print((s1-250000*10/100)
if s1>500000:
  print((s1-500000)*20/100)

SyntaxError: ignored

In [ ]:
# salary>250000 ahnell tax to pay, amount to find
s1=int(input("Enter your Salary : "))
if s1>250000:
  print("You are Taxable")
  print((s1-250000)*10/100)
else:
  print("You are Not Taxable")